.Red{
    color:Red
}
.orange{
    color:orange
}
.Green{
    color:Green

}
.Blue{
    color:Blue
}
.indigo{
    color:indigo
}
.purple{
    color:purple
}

.pink{
    color:pink
}
.black{
    color:black
}
.white{
    color:white
}




